<div class="form-search">
    {{ form_start(form) }}
    <div class="filter-form">
        {{ form_row(form.name) }}
    </div>
    <div class="filter-form">
        {{ form_row(form.type) }}
    </div>
    <div class="filter-form">
        {{ form_row(form.set) }}
    </div>
    <div class="filter-form">
        <button class="btn btn-outline-dark" type="submit">Rechercher</button>
    </div>

    {{ form_end(form) }}
</div>

